*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    height: 50px;
    width: 100%;
    padding: 0 105px;
}

header .top-line{
    height: 23px;
    width: 100%;
    background-color: #40434B;
}

header .logo img{
    height: 105px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E3DBD1;
    padding: 0 95px;
    border-top: 4px solid red;
}

header .navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
}